body {
    background: #f0f8fa;
    overflow: hidden;
}

html.ie7 body,
html.ie8 body,
html.ie9 body
{
    opacity:1!important;
}

#MAINFORM,
#MAINFORM > .Section,
.MainContainer,
.ContentContainer{
    height: 100%;
}

.ContentContainer{
    margin-top: 65px!important;
}

.tdContentPlaceHolder{
    overflow-y:auto;
    background-color: #ecedef;

}

@media (max-width: 767px) { 
    .MainContainer > .row{
        margin-left: -16px;
    }
}

.inicioModulo .tdContentPlaceHolder{
    background-color: #ffffff;

}

.contentColumn{
    width: 1%;
}

.contentColumn > .Table > .row {
    margin-right: 0;
}

.menuPage .tdContentPlaceHolder{
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    left: -1px;
}

.gx-content-placeholder{
    margin-bottom: 40px;
}

/* FOOTER */
footer .navbar {
    background-color: #555 !important;
    height: 33px;
    min-height: 32px;
}

footer .navbar div {
    margin: 6px 15px 0px 20px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #efefef;
    text-decoration:none;
}

footer img {
    height: 24px;
    position: relative;
    top:-3px;
    margin-left: 10px;
}

footer div{
    color: #fff;
}

footer{
    bottom: 0;
}

footer .navbar{
    position: relative;
    bottom: 0;
    z-index: auto;
}

footer .container-fluid{
    margin: 0;
    padding: 0;
}

.homePage footer{
    margin-right: -15px;
    margin-left: -15px;
}

@media (max-width: 767px) {
    footer .pull-right{
        display: none;
    }
}
/*end footer*/

#wrapper {
    padding-left:250px;
}
#wrapper ul.list-inline li a:hover {
    text-decoration:none;
}

.navbar-fixed-top, .navbar-fixed-bottom{
    z-index: 120;
}

#page-content-wrapper {
    padding:0px;
    margin-top:106px;
}

.alert-danger {
    border-color:transparent !important;
}
.list-group-item .col-xs-12 i {
    padding-top:14px;
}
.list-group-item  .nivel2 {
    margin: 3px 10px;
    padding: 0px 8px 0px 2px;        
    width:88%;
    background: #477da7;
    border-radius:3px;
    color:#fff;
    cursor:pointer;
}
.list-group-item .active {
    transition:all .3s;
    background:#88adc8;
}
.list-group-item .noactive {
    background: #477da7;
}
.list-group-item .nivel2:hover {
    transition:all .3s;
    background:#88adc8;
}
.list-group-item {
    border:none;
    padding: 5px 0px 5px 15px;       
}
.lista-detail a:hover {
    background: #c4d1da !important;
    color: #1b6394 !important;
}
.lista-detail a.active {
    background:#c2d4e1;
    border-radius:5px;
}


.index #apps li {
    transform:scale(1.2,1.2);
}
.index #apps .seccion {
    border: 4px solid transparent;
    margin:0 auto;
    transition:all .5s;
}
.index #apps .seccion:hover {
    border: 4px solid #1b6394;
}
.ca-menu{
    padding: 0 20px;
    margin: 20px auto;
    text-align:center;

}
.ca-menu li{
    width: 160px;
    height: 160px;
    border: 5px solid transparent;
    overflow: hidden;
    position: relative;
    background: #fff;
    margin: 0 5px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    border-radius: 125px;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -o-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
    display:inline-block;

    border-color: #F6F6F6;
}
.ca-menu li:last-child{
    margin-right: 0px;
}
.ca-menu li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}
.icono{
    font-family: 'WebSymbolsRegular', cursive;
    font-size: 40px;
    color: #f6f6f6;;
    line-height: 20px;
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 30px;
    text-align: center;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.icono img {
    width:48px;
    height:48px;
}
.ca-main{
    font-size: 16px;
    position: absolute;
    top: 70px;
    height: 80px;
    width: 150px;
    left: 50%;
    margin-left: -75px;
    opacity: 0.8;
    text-align: center;
    color: #1b6394;
}
.ca-sub{
    display: none;
}
.ca-menu li:hover{
    border-color: #477da7;
    z-index: 100;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.ca-menu li:hover .icono{
    color: #000;
    font-size: 60px;
    text-shadow: 0px 0px 1px #000;
    -webkit-animation: moveFromBottom 300ms ease;
    -moz-animation: moveFromBottom 300ms ease;
    -ms-animation: moveFromBottom 300ms ease;
}
.ca-menu li:hover .ca-main{
    color: #477da7;
    -webkit-animation: moveFromBottom 500ms ease;
    -moz-animation: moveFromBottom 500ms ease;
    -ms-animation: moveFromBottom 500ms ease;
}

@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(200%) scale(0.5);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0%) scale(1);
        opacity: 1;        
    }
}
@-moz-keyframes moveFromBottom {
    from {
        -moz-transform: translateY(200%) scale(0.5);
        opacity: 0;
    }
    to {
        -moz-transform: translateY(0%) scale(1);
        opacity: 1;        
    }
}
@-ms-keyframes moveFromBottom {
    from {
        -ms-transform: translateY(200%) scale(0.5);
        opacity: 0;
    }
    to {
        -ms-transform: translateY(0%) scale(1);
        opacity: 1;        
    }
}

::-webkit-scrollbar {  
    width: 12px;  
}  
::-webkit-scrollbar-track {  
    background-color: #eaeaea;  
    border-left: 1px solid #ccc;  
}  
::-webkit-scrollbar-thumb {  
    background-color: #818B99;
    border: 3px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #aaa;  
}  

/*popup*/
.PopupBorder, .PopupHeader{
    max-width: 900px;
    min-width: initial!important;
}

.PopupTitle{
    width: auto!important;
}

div.tooltip .tooltip-inner{
    max-width: 400px;
    font-size: 14px;
    margin-left: -1px;
}

/*Attributos que no se pueden ocultar*/
.attrOcultar{
    height: 0;
    width: 0;
    border: 0!important;
    box-shadow: none!important;
}

.BlobContentImage.hideImage 
{ 
    display: none!important; 
}

/*GRIDS*/
.Grid .gx-row-selected, .Grid .gx-row-selected td {
    background-color: #e8f2fc !important;
}

.Grid tbody tr:hover, 
.Grid tbody tr:hover:not(.GridFooter) td{
    background-color: #e8f2fc !important;
}

.GridTitle {
    border-style: none !important;
    padding-bottom: 9px !important;
    padding-top: 9px !important;
}

.GridFooter, .Grid tfoot tr:hover{
    background-color: transparent!important;
}

.GridFooter .gx-grid-paging-bar span{
    background-color: #fff!important;
}

table.Grid{
    border-collapse: separate;
    border-spacing: 0px 5px!important;
    background-color: transparent!important;
    margin-top: 0px!important;
    border: none;
}

table.Grid tbody tr{
    outline: solid #C9C9C9 1px;
}

table.Grid tbody td {
    background-color: #fff;
}

.TablePrincipal.transparent{
    background-color: transparent!important;
    border-width: 0;
    border-radius: 0;
}
.TablePrincipal.border-top{
    border-top: 2px solid #D5D5D5;
}

.Grid div.checkbox{
    min-width: 40px;
}

.GridLargeId, .GridLarge{
    overflow-x: auto!important;
}
/*END GRIDS*/

/*grid PAGER*/
.PagingButtonsFirst,
.PagingButtonsPrevious,
.PagingButtonsNext,
.PagingButtonsLast{
    background-image: none;
    font-family: FontAwesome;
    color: #196396;
    font-size: 20px;
}

.PagingButtonsFirst:not(.gx-grid-paging-disabled):hover,
.PagingButtonsPrevious:not(.gx-grid-paging-disabled):hover,
.PagingButtonsNext:not(.gx-grid-paging-disabled):hover,
.PagingButtonsLast:not(.gx-grid-paging-disabled):hover{
    color: #fff;
    background-color: #196396!important;
}

.gx-grid-paging-disabled{
    color: #AFAFAF;
}
.PagingButtonsFirst:before,
.PagingButtonsPrevious:before,
.PagingButtonsNext:before,
.PagingButtonsLast:before{
    top: 9px;
    right: 6px;
    position: relative;
}

.PagingButtonsFirst:before{
    content: "\f100";
}
.PagingButtonsPrevious:before{
    content: "\f104";
}
.PagingButtonsNext:before{
    content: "\f105";
}
.PagingButtonsLast:before{
    content: "\f101";
}
/*END grids PAGER*/


/*ACCIONES DE LOS GRIDS*/
.TableActions, .TableInsert{
    margin-bottom: 5px!important;
    height: 40px!important;
    border-spacing: 0;
}

.TableInsert, .TableInsert td{
    padding-right: 0;
    margin-right: 0;
}

.TableInsert input{
    margin-right: 0;
}

.TableActions, .TableActions td{
    padding-left: 0;
}

.TableActions .ActionGroup, .TableInsert .ActionGroup{
    margin-bottom: 0!important;
}

.TableActions .dropdown-toggle{
    font-weight: bold;
    color: #6d6e70;
}

.TableActions div.dropdown{
    display: inline-block;
}

.TableActions .dropdown-menu{
    max-height: 400px;
}

.ActionGroup .btn {
    margin-bottom: 2px;
}

.btn .caret {
    margin-left: 4px!important;
}

.ButtonInsertGrid {
    border: 1px solid #196396!important;
    padding-right: 12px;
}

@media (min-width: 768px) {
    .ButtonInsertGrid {
        background: url(../imgs/plus.png) no-repeat no-repeat right #fff;
        padding-right: 28px!important;
        background-size: 22px;
    }
}

.tbMoreFiltersRight a {
    color: #196396;
}

#TBMFILTROS a:after, #TBMFILTROSADVANCED a:after{
   background: url(../imgs/flecha-blue.svg) no-repeat center;
   background-size: 30px;
   content: "";
   width: 30px;
   height: 8px;
   display: inline-block;
   margin-left: 8px;
}

#TBMFILTROSADVANCED a:after{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg); /* Safari and Chrome */
    -ms-transform: rotate(180deg); /* IE 9 */
    -moz-transform: rotate(180deg); /* Firefox */
    -o-transform: rotate(180deg); /* Opera */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); /* IE old */

    background-position: 12px 0px;
}

.Attribute_Recuadro{
    margin-top: 0!important;
    width: 100%;
}

.TableActions .dropdown .dropdown-menu{
    overflow-y: auto;
    /*height: 10px;*/
}

/*end*/

/*para que los importar archivo de varible blob tenga un tamaño fijo*/
#Object_DOCGBLOB{
    height: 60px !important;
}

select.form-control{
    padding: 1px 12px;
}

.btn-multiselect{
    font-weight: bold;
    width: 60px;
}
input[type="radio"], input[type="checkbox"]{
    margin-top: 0;
}

/******************MENU***************/
.mainMenu{
    width: auto!important;
    min-width: 224px;
    max-width: 224px;
    left: -1px;
    background-color: #416392;
}

.mainMenu .menu-error{
    height: 2000px;
    color: #fdae45;
    padding: 20px;
}

.nav-side-menu {
    overflow: hidden;
    font-family: verdana;
    position: relative;
    left: 0px;
    width: 224px;
    height: 100%;
    color: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-side-menu .menu-list{
    overflow: hidden;
    position: relative;
}

.nav-side-menu .brand {
    background-color: #416392;
    display: block;
    line-height: 35px;
    height: 66px;
    padding-left: 10px;
    border-bottom: 1px solid #6285b7;
}

.nav-side-menu .brand a{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    margin: 10px 0px;
    padding: 6px 10px;
    font-family: Roboto-Regular;
}

.nav-side-menu .brand i{
    position: absolute;
    cursor: pointer;
    background: url(../imgs/icono-menu.svg) center no-repeat;
    background-size: 40px;
    width: 40px;
    height: 20px;
    right: 15px;
    top: 24px;
}

.nav-side-menu .brand i:hover {
    opacity: .9;
}

.nav-side-menu .brand a:hover{
    background-color: #195985;
    border-radius: 6px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
}

.toggle-btn {
    display: none;
}

#menu-content{
    background-color: #416392;
    font-size: 14px;
}

#menu-content, #menu-content ul{
    padding: 0;
    margin: 0;
}

#menu-content a, #menu-content li{
    font-family: Roboto-Regular;
}

#menu-content li a {
    color: #fff;
    width: 100%;
    line-height: 40px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#menu-content li{
    list-style: none;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    margin: 0;
    padding-right: 34px;
    color: #fff;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 0;
}

#menu-content li:hover, #menu-content li:not(.parent).active{
    background-color: #214568!important;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
}

/*aplica espaciado y colores de subniveles a elementos anidables*/
#menu-content > li{
    background-color: #416392;
}
#menu-content > .sub-menu > li{
    background-color: #6285b7;
}
#menu-content > .sub-menu > .sub-menu > li,
#menu-content > .sub-menu > .sub-menu > .sub-menu >  li{
    background-color: #84a6ce;
}

#menu-content > li.parent, 
#menu-content > li > a{
    padding-left: 18px!important;
}
#menu-content > .sub-menu > li.parent, 
#menu-content > .sub-menu > li > a{
    padding-left: 32px!important;
}
#menu-content > .sub-menu > .sub-menu > li.parent,
#menu-content > .sub-menu > .sub-menu > li > a{
    padding-left: 36px!important;
}
#menu-content > .sub-menu > .sub-menu > .sub-menu > li.parent,
#menu-content > .sub-menu > .sub-menu > .sub-menu >  li > a{
    padding-left: 60px!important;
}

#menu-content .active,#menu-content .active a{
    /*font-weight: bold;*/
    font-family: Roboto-Bold!important;
}

#menu-content .arrow{
    position: absolute;
    right: 16px;
    top: 12px;
    background: url(../imgs/flecha.svg) no-repeat center;
    width: 14px;
    background-size: 14px;
    height: 14px;

     transform: rotate(0deg);
    -webkit-transform: rotate(0deg); /* Safari and Chrome */
    -ms-transform: rotate(0deg); /* IE 9 */
    -moz-transform: rotate(0deg); /* Firefox */
    -o-transform: rotate(0deg); /* Opera */

    transition: transform .2s linear!important;
    -moz-transition: transform .2s linear!important;
    -webkit-transition: transform .2s linear!important;
    -o-transition: transform .2s linear!important;
    -ms-transition: transform .2s linear!important;
}

#menu-content .parent:not(.collapsed) .arrow{
     transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg); /* Safari and Chrome */
    -ms-transform: rotate(-180deg); /* IE 9 */
    -moz-transform: rotate(-180deg); /* Firefox */
    -o-transform: rotate(-180deg); /* Opera */
}

.sub-menu.collapse.in{
    height: auto!important;
}

@media (max-width: 767px) {
    .contentColumn{
        width: 100%!important;
        margin-top: 50px;
        margin-right: -1px;
    }
    .mainMenu{
        left: 0;
        width: 100%!important;
        position: absolute;
        max-width: none!important;
    }

    .mainMenu .menu-error{
        display: none;
    }

    .nav-side-menu {
        position: absolute;
        left: 0;
        width: 100%;
        margin-bottom: 10px;
        /*z-index: 100;*/
        height: auto!important;
    }

	.menu-content{
		transition: all .2s linear!important;
		-moz-transition: all .2s linear!important;
		-webkit-transition: all .2s linear!important;
		-o-transition: all .2s linear!important;
		-ms-transition: all .2s linear!important;
	}

	.nav-side-menu.fh{
		z-index: 102;
	}

    .nav-side-menu .brand i{
        display: none;
    }

    .brand {
        text-align: center!important;
        height: 50px!important;
        padding-left: 0px !important;
    }

    .brand a{
        margin: 4px 0px!important;
        padding: 4px 10px!important;
    }


    .toggle-btn {
        width: 47px;
        height: 48px;
        display: block;
        cursor: pointer;
        position: absolute;
        left: 5px;
        top: 0px;
        padding: 9px 10px;
        margin: 8px 0 8px 0;
        border-radius: 4px;
        background-image: url(../imgs/icono-menu-blue.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #fff;
        background-size: 40px;
        border: none;
        outline-color: transparent;
    }

    .toggle-btn:hover
    ,.toggle-btn:focus {
        background-image: url(../imgs/icono-menu.svg);
        background-color: #1b6394;
    }

	.tdContentPlaceHolder{
		left: 0px!important;
		top: 0;
	}

    .mainMenu:not(.empty) + .tdContentPlaceHolder{
        margin-top: 60px;
    }
}

@media (min-width: 768px) {
    .menuPage header.navbar{
        left: 223px;
    }

    .menuCollapsed header.navbar{
        left: 49px;
    }

    .menuPage header > .row{
        margin-left: 0px;
    }

    .mainMenu{
        margin-top: -65px;
    }

    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
    .mainMenu.collapsed {
        min-width: 50px;
        width: 50px!important;
    }

    .mainMenu.collapsed .menu-list{
        display: none;
    }

    .mainMenu.collapsed .brand {
        display: block;
        padding-left: 0;
        border-bottom: none;
        height: 100%;
    }

    .mainMenu.collapsed .brand div{
        color: #fff;
        position: absolute;
        width: 300px;
        left: -125px;
        text-align: right;
        top: 180px;

        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg); /* Safari and Chrome */
        -ms-transform: rotate(-90deg); /* IE 9 */
        -moz-transform: rotate(-90deg); /* Firefox */
        -o-transform: rotate(-90deg); /* Opera */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* IE old */
    }

    .mainMenu.collapsed .brand i {
        left: 6px;
        top: 20px;
    }

    #menu-content{
        height: 100%!important;
    }
}
/*End menu lateral*/

/*		MENU PRINCIPAL */

header.navbar{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    position: fixed;
}


header.navbar li span.divider{
    width: 1px;
    background-color: #e5e5e5;
    height: 32px;
    top: 14px;
    position: absolute;
}

header .navbar-nav > li > .dropdown-menu{
    background-color: #ecedef;
}

.navbar-inverse {
    background-color: transparent;
}

#apps li {
    float:left;
}

#apps li a {
    padding: 3px 6px;
}

#apps {
    min-width:370px;
}

#icon-apps, #icon-user {
    height: 24px;
    width: 24px;
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
    opacity: .8;
    }

#icon-apps{
    background-image: url(../imgs/icon-apps.png);
}

#icon-user {
    background-image: url(../imgs/funcionarios.png);
    background-size: 18px;
}

a:hover #icon-apps, a:hover #icon-user{
    opacity: 1;
}

.seccion {
    height:110px;
    width:110px;
    background-repeat:no-repeat;
    background-position: 34px 15px;
    background-size: 33px 33px;
    border-radius:50%;
    text-align:center;
    transition: all .3s;
    border: 5px solid #F6F6F6;
    background-color: #fff;
}

.seccion:hover {
    border-color: #1b6394;
}
.seccion span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    position:relative;
    bottom:-56px;
    font-size:14px;
    color: #1b6394;
    font-weight:bold;
}

.seccion span {
    white-space: normal;
    text-transform: uppercase; 
    font-size:10px;
}

#logo {
    position: relative;
    top: 13px;
    width: 162px;
    height: 39px;
}

#navbar-2 {
    background:#fff;
    padding-right: 0px;
    margin-left: 1px;
    border-bottom: 1px solid #196396;
}

#navbar-2 h1 {
    display: inline;
    font-size: 16px;
    position: relative;
    top: 20px;
    color: #1b6394;
}
#navbar-2 .navbar-left{
    margin-left: 15px;
}
#navbar-2 i {
    color: #1b6394
}
.navbar-inverse {
    border: none;
}
.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus {
    color: #333;
}
.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:hover, 
.navbar-inverse .navbar-nav>.open>a:focus{
    background:#f1f1f1;
    color:#333;
}
.navbar-nav>li>a {
    padding-top:20px;
}
.navbar-text {
    padding-top:5px;
}

#navbar-2 .navbar-right {
    margin-right:15px;
}
.navbar-right {
    margin-right:5px;
}
#items-menu .active {
    background: #f0f8fa;
    color: #1b6394;
    text-decoration:underline;
}
#items-menu {
    margin-top:33px;
}
.list-inline>li {
    padding:0;
}
.inicio {
    background: url(../imgs/casa.png);
}
.liquidacion {
    background-image: url(../imgs/liquidacion.png);
}
.funcionarios {
    background-image: url(../imgs/funcionarios.png);
}
.seguridad {
    background-image: url(../imgs/seguridad.png);
}
.tablas-cod {
    background-image: url(../imgs/tablas_cod.png);
}
.historia {
    background-image: url(../imgs/historia.png);
}
.admin {
    background-image: url(../imgs/admin.png);
}
.licencias {
    background-image: url(../imgs/licencia.png);
}
.conceptos{
    background-image: url(../imgs/conceptos.png);
}
.autogestion{
    background-image: url(../imgs/autogestion.png);
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle,
.navbar,
.navbar-inverse .navbar-inner {
    filter: none;
    background-image: none;
}

@media (max-width: 967px) { 
    #navbar-2 h1{
        font-size:1.1em;
    }
}

@media (max-width: 767px) {
    header.navbar,
    .navbar-left{
        height: 65px!important;
        margin-left: 0!important;
        text-align: left;
    }

    #navbar-2 .navbar-right {
        margin-right: 0;
    }

    header.navbar, 
    .MainContainer:not(.homePage) .navbar-left{
        text-align: center;
    }

    .homePage header.navbar .navbar-left{
        margin-left: 15px!important;
    }

    .nav.navbar-nav{
        padding-left: 20px;
    }

    .nav.navbar-nav a, 
    .nav.navbar-nav .navbar-text{
        padding: 10px 20px;
        margin: 0;
    }

    .nav.navbar-nav .dropdown-menu{
        padding-left: 15px;
    }

	#navbar-main{
		margin-right: 0;
		margin-left: -15px;
		border: none;
		width: 100%;
		z-index: 200;
        text-align: left;
        max-height: 400px;
	}

    #navbar-main .divider{
        display: none;
    }

    #navbar-main:not(.in):not(.collapsing){
        height: 65px!important;
    }

    #navbar-main .dropdown > a, #navbar-main .navbar-text{
        font-size: 18px;
    }

    #navbar-main .dropdown > a{
        color: #000;
    }

    #navbar-main a:hover, 
    #navbar-main a:focus {
        color: #000!important;
    }

    #navbar-main strong{
        font-weight: normal;
    }

    #navbar-main li{
        list-style: none;
    }

    #navbar-main .dropdown-toggle{
        background-image: url(../imgs/flecha-blue.svg);
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: right;
    }

    .navbar-toggle{
        right: 5px;
        border: none !important;
        margin-right: 0;
        position: absolute;
    }

    .navbar-toggle:hover, .navbar-toggle:focus{
        background-color: #196396!important;
    }

    .navbar-toggle:hover i, .navbar-toggle:focus i{
        color: #fff!important;
    }


    /*Menu de secciones*/
    #icon-apps, #icon-user{
        display: none;
    }

    #navbar-main .dropdown-menu li{
        height: 40px;
        margin-bottom: 10px;
    }

    #navbar-main .dropdown-menu a{
        line-height: 40px;
        font-size: 16px;
    }

    #apps{
        min-width: 0;
    }

    #apps li {
        float:none;
    }

    .seccion {
        height:auto;
        width:auto;
        text-align: left;
        background-repeat:no-repeat;
        background-position: left;
        background-size: 20px;
        border-radius:0;
        border: none;
        transition: all .3s;
        background-color: #fff;
        padding-left: 30px;
    }

    .seccion span{
        top: 0;
        color: #6D6D6D;
        line-height: 40px;
        font-size: 16px;
        font-weight: normal;
        text-transform: none;
    }

    #navbar-main a:hover span{
        color: #000!important;
    }
}

@media (min-width: 768px) {
    #navbar-main{
        height: 65px!important;
    }

    #apps>li>a:hover, .dropdown-menu>li>a:focus {
        background-color: #ECEDEF;
    }
}
/*End menu principal*/

/* ESTILOS PARA LA HOME MASTERPAGE */
.MainContainer.homePage{
    padding-left: 10px!important;
}

.MainContainer.homePage .tdContentPlaceHolder{
    margin-top: -42px;
    padding-top: 20px;
}

@media(max-width: 768px){
    .MainContainer.homePage .tdContentPlaceHolder{
        padding-top: 20px;
        margin-top: -15px;
    }
}
/*End*/

/*para cuando sea necesario dale un tamaño fijo a una celda*/
.form-height{
    height: 50px;
}
.form-margin{
    margin-top: 10px;
}

.nav-tabs li {
    margin-bottom: 2px;
}

label.control-label.gx-label{
    height: 100%;
    font-weight: bold;
}

@media (min-width: 768px){
    .LargeLabel .gx-attribute {
        width: 60%;
    }

    .LargeLabel .gx-label{
        width: 40%;
    }
}

/*********************** Start Pagina de inicio de modulo *************/
.inicio-cell_header{
    background-image: url(../imgs/header.jpg);
    background-size: 100% 100px;
    background-repeat: no-repeat;
}

.img-module{
    position: relative;
}

.inicio-header{
    padding: 10px 0;  
}
.inicio-header h1{
    font-family: Roboto-Regular;
    font-size: 29pt;
    color: #ffffff;
}

.inicio-header p{
    font-family: Roboto-Light;
    font-size: 21pt;
    color: #727075;
    margin-top: 66px;
    margin-bottom: 0;
}

.inicio-cell_subheader{
    background-color: #d7d8dc;
}

.inicio-subheader{
    padding: 10px 0;
    background-color: #d7d8dc;
}

.inicio-subheader h1{
    font-family: Roboto-Regular;
    font-size: 24pt;
    color: #1d6196;
    margin: 0 10px;    
}

.inicio-cell_main_content{
    background-color: #ffffff;
    margin-bottom: -40px;
    padding-bottom: 40px;
}

.inicio-main_content{
    padding: 0;
}

.inicio-content{
    margin-top: 55px;
}

.inicio-content h1{
    font-family: Roboto-Regular;
    font-size: 21pt;
    color: #1d6196;
    margin: 0 10px 15px 10px;    
}

.inicio-content p{
    font-family: Roboto-Medium;
    font-size: 14pt;
    color: #727075;
    margin: 0 10px;    
}

.inicio-cell_header .col-sm-1{
	padding: 0;
	width: 1px;
}


@media (min-width: 768px) {
    .inicio-header{
        padding: 10px 0;   
    }
    .inicio-subheader{
        padding: 10px 0;
    }
    .inicio-main_content{
        padding: 0;
    }
}

@media (min-width: 992px) {
    .inicio-header{
        padding: 20px 30px;   
    }
    .inicio-header p{
        color: #ffffff;
        margin-top: 2px;
        margin-bottom: 15px;
    }
    .inicio-cell_header{
        background-size: 100% 100%;
    }
    .inicio-subheader{
        padding: 20px 30px;
    }
    .inicio-main_content{
        padding: 0 30px;
    }
}

@media (min-width: 1200px) {
    .inicio-header{
        padding: 20px 50px;   
    }
    .inicio-subheader{
        padding: 20px 50px;
    }
    .inicio-main_content{
        padding: 0 50px;
    }
}
/*********************** End Pagina de inicio de modulo **************/

/****************Eliminar el transition bezier del tema ****************/
div.gx-content-placeholder > div.gx-ct-body.Form-fx, 
div.gxwebcomponent > div.gxwebcomponent-body.Form-fx, 
body.Form-fx{
	trasition: none!important;
	-webkit-transition:none!important;
}
/*********************End**********************************/

div.calendar{ /*Hacer que el calendar quede por arriba del header*/
    z-index: 130!important; 
    border: 1px solid #ababab;
}

select[style*='visibility: hidden']{
    visibility: visible!important;
}

.link a{
	color: #428bca;
	text-decoration: underline;
}

.link a:hover, .link a:focus {
	color: #2a6496;
	text-decoration: none;
}

/*Alert que se muestra cuando hay incompatibilidades con el navegador*/
#browserAlert{
    background-color: #d04437;
    padding: 20px 20px;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    margin: 0;
    border-radius: 0;
    font-size: 16px;
    font-family: Roboto-Regular;
}

#browserAlert span{
    margin-right: 8px;
    font-size: 18px;
}

#browserAlert div.close{
    color: #fff;
    opacity: .7;
}

#browserAlert div.close:hover{
    opacity: 1;
    text-shadow: none;
}

.browserAlert-text{
    width: 95%;
}
/*End browser alert*/

/*Botones de acciones del sistema*/
.btn-primary, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #00629a!important;
    color: #fff!important;
}

.btn{
    font-weight: normal!important;
}

.ActionGroup .BtnEnter:hover {
    background-color: #3276b1!important;
}

.Button{
    background-color: #fff;
    color: #3276b1!important;
    border: 1px solid #3276b1;
}

.ActionGroup .btn-default{
    background-color: #fff;
    color: #3276b1;
    border: 1px solid #3276b1;
}

.ActionGroup .BtnCancel, 
.ActionGroup .BtnDelete{
    background-color: #fff;
    color: #3276b1!important;
    border: 1px solid #3276b1;
}

.ActionGroup .btn-default:hover,
.Button:hover,
.ActionGroup .BtnDelete:hover{
    background-color: #ebebeb;
    border: 1px solid #3276b1;
}

/*End botones acciones*/