#Object_UPLFILE{
    height: 60px !important;
}

table.Grid{
    border-collapse: separate;
    border-spacing: 0px 5px!important;
    background-color: transparent!important;
    margin-top: 0px!important;
    border: none;
}

table.Grid tbody tr{
    outline: solid #C9C9C9 1px;
}

table.Grid tbody tr:hover{
    background-color: #e8f2fc !important; 
}

table.Grid tbody tr.gx-row-selected{
    background-color: #e8f2fc !important; 
}

.BtnEnter{
    background-color: #3276b1;
    padding: 6px 12px;
    background-color: #00629a;
    color: #fff;
    border-radius: 4px;   
}

.BtnEnter:hover, .BtnEnter:focus{
    background-color: #3276b1;
}